$skills : 8;

.home__cta {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px 20px;
  text-align: center;

  h1 {
    font-size: 5rem;
    margin: 15px 0 0 0;
  }

  p {
    color: #8e8e8e;
    font-size: 22px;
    margin: 0;
  }

  ul {
    list-style-type: none;
    margin: 10px auto 30px auto;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 10px;

      a {
        color: white;
        font-size: 22px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.home__feature {
  padding-top: 40px;
  text-align: center;
  overflow: hidden;

  > span {
    display: block;
    color: #8e8e8e;
    font-size: 18px;
    padding: 10px 0;
  }
}

.home__bag {
  display: inline-block;
  vertical-align: top;
  margin: 15px;
  color: white;

  &:hover {
    opacity: 0.8;
  }

  &:nth-of-type(2).animation ul,
  &:nth-of-type(3).animation ul {
    li {
      text-shadow: 0 0;
      animation: wave 10s linear;

      @for $i from 1 through $skills {
        &:nth-child(#{$i}) {
          animation-delay: #{$i}s;
        }
      }
    }
  }

  &:nth-of-type(3).animation {
    animation: trans 10s forwards;
  }
}

.home__bag_attributes {
  background-color: black;
  width: 400px;
  height: 400px;
  position: relative;

  .home__bag_project {
    position: absolute;
    bottom: 0;
    left: 20px;
    opacity: 0.3;
    text-align: center;

    span {
      font-size: 50px;
    }
  }

  > span {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    text-align: left;

    li {
      margin: 5px 0;

      span {
        font-size: 20px;
      }
    }
  }
}

@keyframes wave {
  5% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
  }
  10%, 100% {
    text-shadow: 0 0;
  }
}

@keyframes trans {
  10%, 95% {
    transform: translateX(-35%);
  }
  100% {
    transform: translateX(0);
  }
}

// Responsive
@media screen and (max-width: 600px) {
  .home__bag_attributes {
    background-color: black;
    width: 300px;
    height: 300px;
    position: relative;

    .home__bag_project {
      span {
        font-size: 37px;
      }
    }

    ul {
      li {
        span {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 1289px) {
  @keyframes trans {
    10%, 95% {
      transform: translate(130%, calc(-100% + -30px));
    }
    100% {
      transform: initial;
    }
  }
}

@media screen and (max-width: 859px) {
  @keyframes trans {
    10%, 95% {
      transform: translate(75%, calc(-100% + -30px));
    }
    100% {
      transform: initial;
    }
  }
}

@media screen and (max-width: 850px) {
  .home__cta {
    p {
      br {
        display: none;
      }
    }
  }
}


